:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
}

/* цвет основного шрифта #212121; */
/* вторичный цвет #757575; */
/* белый цвет #FFFFFF; */
/* акцент "Лого" #2196F3; */
/* вторичный цвет фона #F5F4FA; */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* cписок кнопок */
.button-list .btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* заголовки картинок */

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
