:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
}

/* цвет основного шрифта #212121; */
/* вторичный цвет #757575; */
/* белый цвет #FFFFFF; */
/* акцент "Лого" #2196F3; */
/* вторичный цвет фона #F5F4FA; */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.list {
  list-style: none;
}

/* hover link */

.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  color: var(--primary-text-color);
}

.web-logo {
  color: var(--accent-text-color);
}

.logo-white {
  color: var(--white-color);
}

.menu-link,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-decoration: none;
  opacity: 0.6;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
}

.contacts-list-item:hover,
.contacts-list-item:focus {
  opacity: 1;
}

.contacts-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.page-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* First section text&button */

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white-color);
}

.title-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Заголовки секций */

.section-title {
  font-family: 'Roboto', sans-serif;
  /* font-weight: 700; */
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Заголовки команды */

.section-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* специальность команды */

.professions-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Заголовки к тексу (2 секция) */

.section-headlines {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.join {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.about-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.information-link {
  font-style: normal;
}

.hero {
  background: rgba(47, 48, 58, 0.8);
}

.footer {
  background: #2f303a;
}
